In [ ]:
# 1. Write a Python Program to Find the Factorial of a Number?

In [ ]:
fact = 1
num = int(input("Number: "))

for i in range(1,num + 1):
  fact = fact * i
print("Factorial of number:",fact)

Number: 5
Factorial of number: 120

In [ ]:
# 2. Write a Python Program to Display the multiplication Table?

In [ ]:
n = int(input(""))
for i in range(1,11):
  print(n,"*",i,":",n * i)

6
6 * 1 : 6
6 * 2 : 12
6 * 3 : 18
6 * 4 : 24
6 * 5 : 30
6 * 6 : 36
6 * 7 : 42
6 * 8 : 48
6 * 9 : 54
6 * 10 : 60

In [ ]:
# 3. Write a Python Program to Print the Fibonacci sequence?

In [ ]:
no = int(input(""))
a = 0
b = 1
print("Fiboncci sequence of number:")
print("\n",a,"\n",b,)

for i in range(2,no):
  c = a + b
  print("",c)
  a = b
  b = c

8
Fiboncci sequence of number:

 0
 1
 1
 2
 3
 5
 8
 13

In [ ]:
# 4. Write a Python Program to Check Armstrong Number?

In [ ]:
n = int(input(" Number: "))
add = 0

temp = n
while temp > 0:
  num = temp % 10
  add += num ** 3
  temp //= 10

if n == add:
  print("\n",n,"is Armstrong Number")

else:
  print(n,"Not Armstrong Number")

 Number: 371

 371 is Armstrong Number

In [ ]:
# 5. Write a Python Program to Find Armstrong Number in an Interval?

In [ ]:
low = 100
upp = 2000

for n in range(low, upp + 1):
  order = len(str(n))
  add = 0
  temp = n
  while temp > 0:
    num = temp % 10
    add += num ** order
    temp //= 10

  if n == add:
    print(n)

153
370
371
407
1634

In [ ]:
# 6. Write a Python Program to Find the Sum of Natural Numbers?

In [ ]:
n = int(input(""))

if n < 0:
  print("Number")

else:
  add = 0
  while(n > 0):
    add += n
    n -= 1
  print("Sum :",add)

77
Sum : 3003